div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 16px;
}
img {
    width: 250px;
    height: 250px;
}
h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;

}